@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .base {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  }
}
@layer utilities {
  @font-face {
    font-family: "MAVIS";
    src: url("../fonts/MAVIS/MAVIS.otf");
  }
  @font-face {
    font-family: "MAVIS_Bold";
    src: url("../fonts/MAVIS/MAVISBold.woff");
  }
  @font-face {
    font-family: "MAVIS_Light";
    src: url("../fonts/MAVIS/MAVISLight.ttf");
  }
  @font-face {
    font-family: "Aktiv_Light";
    src: url("../fonts/AktivGrotesk/AktivGroteskCorp-Light.ttf");
  }
  @font-face {
    font-family: "Aktiv_Bold";
    src: url("../fonts/AktivGrotesk/AktivGroteskCorp-Bold.ttf");
  }
  @font-face {
    font-family: "Aktiv";
    src: url("../fonts/AktivGrotesk/AktivGroteskCorp-Medium.ttf");
  }
  .bg-img {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    backdrop-filter: blur(5px);
  }
  .form-input input {
    border: none;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    padding-left: 10px;
    padding-right: 2rem;
    font-size: 16px;
    letter-spacing: 0.2rem;
    color: #6c6565;
  }
  .completed {
    background: red;
  }
  .form-input label {
    position: absolute;
    top: 12px;
    left: 15px;
    font-weight: bold;
    color: #a8a8a8;
    z-index: 2;
  }
  .form-input label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: all 0.5s cubic-bezier(0.14, 0.92, 0.68, 1.58);
  }
  .form-input input:focus,
  .form-input input:valid {
    outline: 0;
    background-color: transparent;
  }

  .form-input input:focus + label span,
  .form-input input:valid + label span {
    color: white;

    transform: translateY(-18px);
    z-index: 5;
  }
  .btn-shadow {
    width: 70%;
    color: #a8a8a8;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px #464444dd;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }
  .btn-shadow:hover {
    box-shadow: 0px -1px 5px 1px #6c6565;
    transition: all 2s;
  }
  .light_shadow {
    box-shadow: 0px 3px 2px 0px #7c7878;
  }
  .light_shadow:hover {
    box-shadow: 1px 3px 14px 2px #7c7878;
    transition: all 0.5s;
  }
  .gradientBg {
    background-image: radial-gradient(
      circle,
      #2492cd,
      #1b7ec2,
      #226ab6,
      #2f56a6,
      #3b4094,
      #3e3f95,
      #413d95,
      #443c96,
      #3f50ab,
      #3763c0,
      #2a76d3,
      #148ae5
    );
  }
  #alert-wrapper {
    position: absolute;
    top: 16px;
    /* left: 1rem; */
    left: -50rem;
    transform: scale(0.5);
    /* animation: show_Alert 1.5s forwards cubic-bezier(0.68, -0.55, 0.27, 1.55); */
    opacity: 0;
  }
  @keyframes show_Alert {
    0% {
      left: -3rem;
      transform: scale(1);
      opacity: 0;
    }
    75% {
      transform: scale(1) translateX(0px);
      background-image: radial-gradient(
        circle,
        #2492cd,
        #1b7ec2,
        #226ab6,
        #2f56a6,
        #3b4094,
        #3e3f95,
        #413d95,
        #443c96,
        #3f50ab,
        #3763c0,
        #2a76d3,
        #148ae5
      );
    }
    84% {
      transform: scale(1.3) translateX(-2px) translateY(5px) translateZ(20px);
      background-image: radial-gradient(
        circle,
        #e00d0d,
        #d70036,
        #c30051,
        #a60067,
        #810074,
        #712082,
        #5d308e,
        #443c96,
        #3f50ab,
        #3763c0,
        #2a76d3,
        #148ae5
      );
    }
    100% {
      left: 2rem;
      transform: scale(1) translateX(0px);
      opacity: 1;
    }
  }
}
